# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Prisma
prisma/dev.db
prisma/dev.db-journal

# TypeScript cache
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# Coverage reports
coverage/

# Optional: Next.js
.next/
out/

# 
gcs-key.json
app.yaml
